.content-slide{
    position: relative;
    margin: 20px;
}

.slideshow-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38vw;
}

.slide-textOverlay{
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: 80%;
    pointer-events: none;
}

.slide-head{
    text-align: left; 
    text-shadow: 2px 2px #4596ff;  
}

.slide-text{
    position: absolute;
    right: 0;
    padding: 20px;

    text-shadow: 2px 2px #4596ff;
    &--skill{
        @extend .slide-text;
        bottom: 15%;
        margin: 0;
        text-align: right;

        li{
            display: inline;
            margin-left: 5px;
            font-size: 2vw;
        }
    }

    &--desc{
        @extend .slide-text;
        bottom: 0;
        font-size: 1.5vw;
        text-align: right;
        max-width: 50%;  
    }
}

.content-nav{
    margin-top: 15px;
    text-align: center;
}

.content-navOverlay{
  position: relative;
}

.nav-btn{
  position: absolute;
  margin: 0;
  top: 50%;
  filter: invert(99%) sepia(0%) saturate(2845%) hue-rotate(252deg) brightness(110%) contrast(101%); /*#ffffff*/
  width: 50px;
  height: auto;
  cursor: pointer;

  &--next{
      @extend .nav-btn;
      right: 10px;
  }

  &--prev{
      @extend .nav-btn;
      left: 10px;
      transform: rotate(180deg);
  }

  &:hover{
    filter: invert(63%) sepia(94%) saturate(3680%) hue-rotate(194deg) brightness(101%) contrast(101%); /*change color to #4596ff*/
  }
}

.modal-open{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    font-size: 1vw;
    width: 9vw;
    pointer-events: initial !important;
}


/*Slideshow style data------------------------------------*/
 /*transistion--*/
 .transition-left1{
     transition: left 1s ease-in-out;
 }

 /*posistions--*/
 .pos-abs{
     position: absolute;
 }

 .pos-rel{
     position: relative;
 }

 .left-cur{
     left: 0;
 }

 .left-next{
     left: 100vw;
 }

 .left-prev{
     left: -100vw;
 }

/*Media queries -------------------------------------------------------------------------------------------------------------------------------------*/

/*Handheld Global --------------------------------------------------------*/
@media only screen and (max-width: 1023px){

    .slide-head{
        margin: 10px 0 0 0;
    }

    .slide-text--skill{
        li{
            font-size: 3vw;
        }
    }

    .slide-text--desc{
        font-size: 3vw;
    }

    .slide-text--skill{
        bottom: 22%;
    }

    .slide-text--desc{
        max-width: 68%;
    }
    

}

/*Tablet -------------------------------------------------------------------------------*/
@media only screen and (max-width: 1023px) and (min-width: 720px){

    .slideshow-container{
        height: 60vw;
    }

    .slide-text--desc{
        line-height: 25px;
    }

    .modal-open{
        font-size: 1.5vw;
        width: 15vw;
        bottom: -15px;
        left: -40px;
    }
    
}

/*Phone -------------------------------------------------------------------------------*/
@media only screen and (max-width: 719px) and (min-width: 320px){

    .slideshow-container{
        height: 70vw;
    }

    .nav-btn{
        width: 25px;
        top: 40%;
    }

    .slide-text{
        padding: 0;
    }

    .slide-text--desc{
        line-height: 15px;
    }

    .modal-open{
        font-size: 3vw;
        width: 25vw;
        bottom: -15px;
        left: -26px;
    }

}