  .nav-bullet{
    stroke-width: 3px;
    cursor: pointer;
  }

  .nav-bullet:hover {
    fill: #4596ff;
  }
  
  .inner-bullet{
    fill: #fff;
    stroke: #fff;
  }
   
  .bull-active .inner-bullet{
    fill: #4596ff;
  }
  
  .bull-active .stroke-bullet{
    stroke: #4596ff;
  }
  
  .bull-inactive .inner-bullet{
    stroke: none;
  }
  
  .bull-inactive .stroke-bullet{
    stroke: #4596ff;
    stroke-dashoffset: 0;
  }

  .bull-inactive, .bull-active{
      margin: 10px;
  }