.modal-body{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    background: #2F3061;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content-grid{
    height: 100%;
    display: grid;
    grid-template-rows: [head]15% [skill]10% [cont]70% [foot]5%;
    grid-template-columns: repeat(2,1fr);
}

/*Modal Content*/

.modal-head{
    margin: 10px 0 0 0;
    grid-row-start: head;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;        
    font-size: 45px;
}

.modal-skill{
    margin: 0;
    padding: 0;
    grid-row-start: skill;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-size: 25px;

    li{
        margin-left: 5px;
        display: inline;
    }
}

.modal-img{
    grid-row-start: cont;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 4px;
    
    img{
        width: 650px;
        height: 100%;
    }
}

.modal-cont{
    grid-row-start: cont;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
    text-align: center;
    overflow: scroll;
}

.modal-text{
    overflow-y: auto;
}

.modal-close{
    grid-row-start: foot;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100px
}