body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F7FFF7;
  background-color: #555555;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-size: 30px;
  margin: 0;
  }

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

.header-wrap{
  width: 85%;
  margin: 0 auto;
}

.header-wrap h2{
  font-size: 50px;
  text-align: center;
}

.grid{
  display: grid;
  height: calc(3*575px);
  grid-template-rows: [header]100px repeat(3, 575px);
  grid-row-gap: 50px;
}

/* Header styles------------------------------------*/
header {
  background: #343434;
  color: #F7FFF7;
  font-family: Arial, Helvetica, sans-serif;
}

/* Portfolio Styles------------------------------------*/
  /* Section Styles----------------------------------*/
  .portfolio-cont {
      background: #2F3061;
      overflow: hidden;
      height: 100%;
  }

  .portfolio .sec-header{
      grid-row: header;
  }

  #port-one{
      grid-row-start: 2;
  }
  
  .two{
      grid-row-start: 3;
  }

  .three{
      grid-row-start: 4;       
  }
  /* Content Styles----------------------------------*/
  .content-grid{
      display: grid;
      height: 100%;
      width: 85%;
      margin: 0 auto;
      grid-template-rows: [header]75px [slide]400px [nav]50px;
      grid-template-columns:repeat(2,1fr);
      grid-row-gap: 25px;
  }

  .content-head{
      height: 75px;
      margin: 0 auto;
      padding-top: 20px;
      grid-row-start: header;
      grid-column-start: 1;
      grid-column-end: 3;
  }

  .content-slide{
      height: 400px;
      grid-row-start: slide;
      grid-column-start: 1;
      grid-column-end: 3;

      display: grid;
      grid-template-rows: [head]50px [desc]300px [skills]50px;
      grid-template-columns: repeat(2,1fr);
      overflow: hidden;
  }

  .slide-head{
      grid-row-start: head;
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: center;        
  }

  .slide-img{
      grid-row-start: head;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
  }

  .slide-img div{
      width: 650px;
      height: 400px;
      background-size: fill;
  }

  .slide-desc{
      grid-row-start: desc;
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 20px;
  }

  .slide-skill{
      margin: 0;
      padding: 0;
      grid-column-start: 2;
      grid-column-end: 3;
      padding-left: 20px;
  }

  .slide-skill li{
      margin-left: 5px;
      display: inline;
  }

  .content-nav{
      display: block;
      height: 50px;
      grid-row-start: nav;
      grid-column-start: 1;
      grid-column-end: 3;
      font-size: 35px;
      text-align: center;
      letter-spacing: 20px;
  }